* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: grey;
  opacity: 100;
  animation: fadeIn 1.5s ease-in forwards;
}




nav {
  background-color:black;
  color: whitesmoke;
  padding: 20px 30px;
  display: flex;
  justify-content:first baseline;
  align-items: center;
  
  top: 0;
  
}



nav ul {
  list-style:none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color:wheat;
  text-decoration: none;
  padding: 15px 20px;
  position: relative;
  transition: all 0.3s ease-in;
}
nav .logo {
  font-size: 20px;
  font-weight:bolder;
  animation: slideDown 0.5s ease-in;
}




nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}


section {
  padding: 60px 20px;
  transform: translateY(30px);
  opacity: 0;
  animation: slideUp 1s ease forwards;
  animation-delay: 0.5s;
}

/* Keyframes */
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
